@font-face {
  font-family: OpenSans;
  src: url(./OpenSans-Regular.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: OpenSans, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
  height: 100vh;
  background-color: #164e63;
  padding: 24px;
}

.input-container {
  display: flex;
  padding: 12px;
  background-color: #ecfeff;
  border-radius: 12px;
  color: #164e63;
  flex-direction: column;
  align-items: center;
}

.input-container h1 {
  padding-bottom: 10px;
}

.input-container input {
  height: 25px;
  border-radius: 8px;
  outline-style: none;
  border: 2px solid #dbdbdb;
  box-shadow: 0px 0px 15px #afd2df;
  transition: box-shadow 300ms ease;
  transition: border 300ms ease;
}

.input-container input:hover {
  border: 2px solid #164e63;
  box-shadow: 0px 0px 15px #164e6386;
}

.personal-input {
  display: flex;
  flex-direction: column;
  color: #164e63;
  width: 100%;
  gap: 4px;
}

.info-container {
  display: flex;
  justify-content: center;
  color: white;
}
