@font-face {
  font-family: OpenSans;
  src: url(./OpenSans-Regular.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: OpenSans, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
  height: 100vh;
  background-color: #164e63;
  padding: 24px;
  column-gap: 32px;
}

.input-container {
  display: flex;
  padding: 12px 24px;
  background-color: #ecfeff;
  border-radius: 12px;
  color: #164e63;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.input-container::-webkit-scrollbar {
  border: 12px;
  width: 10px;
}

.input-container::-webkit-scrollbar-thumb {
  background-color: #0e7490;
  border-radius: 12px;
}

.input-container::-webkit-scrollbar-thumb:hover {
  background-color: #128cad;
}

.input-container::-webkit-scrollbar-thumb:active {
  background-color: #169dc2;
}

.input-container h1 {
  padding-bottom: 10px;
}

.input-container input {
  height: 25px;
  border-radius: 8px;
  outline-style: none;
  border: 2px solid #dbdbdb;
  box-shadow: 0px 0px 15px #afd2df;
  transition: box-shadow 300ms ease;
  transition: border 300ms ease;
}

.input-container h2 {
  margin: 12px 0;
  display: inline-block;
}

.input-container input:hover,
.input-container textarea:hover {
  border: 2px solid #164e63;
  box-shadow: 0px 0px 15px #164e6386;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 50px;
}

.input-container .hide {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  font-size: 42px;
  text-align: center;
  line-height: 10px;
}

.input-container button {
  width: 160px;
  height: 35px;
  border-radius: 8px;
  background-color: #164e63;
  color: #ecfeff;
  font-size: 16px;
  border: none;
  margin-top: 12px;
  transition: box-shadow 200ms ease;
  transition: background-color 200ms ease;
  flex-shrink: 0;
}

.input-container button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px #0e7490;
  background-color: #0e7490;
}

.input-container button:active {
  box-shadow: 0px 0px 8px 155e75;
  background-color: #155e75;
}

.input-container textarea {
  height: 50px;
  resize: none;
  border: 2px solid #dbdbdb;
  border-radius: 12px;
  outline: none;
  transition: box-shadow 300ms ease;
  transition: border 300ms ease;
}

.personal-input,
.education-input,
.experience-input {
  display: none;
  flex-direction: column;
  color: #164e63;
  width: 100%;
  gap: 4px;
}

.info-container {
  display: flex;
  background-color: white;
  border-radius: 12px;
  flex-direction: column;
}

.personal-info {
  display: flex;
  background-color: #313131;
  border-radius: 10px 10px 0 0;
  color: white;
  height: 140px;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}

.personal-info p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px;
}

.education-info,
.experience-info,
.about-me {
  padding: 0 24px;
}

.education-info h1,
.experience-info h1,
.about-me h1 {
  border-bottom: 1px solid #313131;
  padding: 12px 0;
}

.about-me p {
  min-width: 100px;
  max-width: 500px;
  word-wrap: break-word;
}

.school-card,
.exp-card {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
